!node_modules/materialize-css/dist/css/materialize.css
!node_modules/animate.css/animate.css
!node_modules/font-awesome/css/font-awesome.css
!node_modules/jquery/dist/jquery.js
!node_modules/materialize-css/dist/js/materialize.js

node_modules/*