/*FONTES*/
.riogrande-font{
    font-family: 'RioGrande';
}
.showguide-font{
    font-family: 'ShowGuide';
}
.losbanditos-font{
    font-family: 'LosBanditos';
}

.item-menu, ul li a.btn{
    font-family: 'LosBanditos';
}

/*PARALLAX*/
.parallax-container {
      height: 200px;
}

/*SCROLL TOP*/
.scrollToTop{
	position:fixed;
	bottom: 5px;
    right: 5px;
	display: none;
}

/*LOGO*/
.brand-logo{
    background-color: #212121;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    border: 3px solid #ffc107;
    border-top: none;
}
.brand-logo h1{
    padding: 0 10px;
}
.titulo{
    margin-top: 0px;
}
.subtitulo{
    margin-top: -30px;
}

/*SLIDER INDICATOR*/
.slider .indicators .indicator-item.active {
    background-color: #ffc107;
}

/*MORE IMAGES*/
.collapsible{
    border-color: #ffc107;
}
.collapsible .collapsible-header{
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212121;
}
.collapsible .collapsible-body{
    border-color: #ffc107;
}
